In [1]:
import json
import pandas as pd

In [2]:
df = pd.read_csv("games.csv")

In [3]:
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [4]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [5]:
df[["t1_champ1id", "t1_champ2id"]]

       t1_champ1id  t1_champ2id
0                8          432
1              119           39
2               18          141
3               57           63
4               19           29
...            ...          ...
51485           19          429
51486           90           32
51487          141           18
51488          121          236
51489           89            1

[51490 rows x 2 columns]

In [6]:
champ_data = json.load(open("champion_info.json"))

In [7]:
# champ_data

In [8]:
df["t1_champ1"] = df["t1_champ1id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t1_champ2"] = df["t1_champ2id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t1_champ3"] = df["t1_champ3id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t1_champ4"] = df["t1_champ4id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t1_champ5"] = df["t1_champ5id"].apply(lambda x: champ_data["data"][str(x)]["name"])

In [9]:
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5,t1_champ1,t1_champ2,t1_champ3,t1_champ4,t1_champ5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,114,67,43,16,51,Vladimir,Bard,Kog'Maw,Master Yi,Viktor
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,11,67,238,51,420,Draven,Irelia,Nidalee,Kayle,Shaco
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,157,238,121,57,28,Tristana,Kayn,Nami,Rumble,Kassadin
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,164,18,141,40,51,Maokai,Brand,Twitch,Orianna,Dr. Mundo
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,86,11,201,122,18,Warwick,Twitch,Janna,Draven,Syndra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,55,-1,90,238,157,Warwick,Kalista,Talon,Bard,Lee Sin
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,157,55,119,154,105,Malzahar,Amumu,Cho'Gath,Thresh,Tristana
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,113,122,53,11,157,Kayn,Tristana,Bard,Ezreal,Rumble
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,154,39,51,90,114,Kha'Zix,Lucian,Illaoi,Braum,Lux
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,11,157,141,31,18,Leona,Annie,Camille,Sejuani,Jhin

In [10]:
df["t2_champ1"] = df["t2_champ1id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t2_champ2"] = df["t2_champ2id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t2_champ3"] = df["t2_champ3id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t2_champ4"] = df["t2_champ4id"].apply(lambda x: champ_data["data"][str(x)]["name"])
df["t2_champ5"] = df["t2_champ5id"].apply(lambda x: champ_data["data"][str(x)]["name"])

In [11]:
# df only includes champions that are picked
# df = df[["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5", "winner"]] 
# df includes champions that are picked and first blood
# df = df[["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5", "firstBlood", "winner"]] 
# df includes chapions, first blood, and first dragon
# df = df[["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5", "firstBlood", "firstDragon", "winner"]]
# df includes first tower
# df = df[["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5", "firstBlood", "firstDragon", "firstTower", "winner"]]
# df includes first baron
df = df[["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5", "firstBlood", "firstDragon", "firstTower", "firstBaron", "winner"]]

In [12]:
df

,t1_champ1,t1_champ2,t1_champ3,t1_champ4,t1_champ5,t2_champ1,t2_champ2,t2_champ3,t2_champ4,t2_champ5,firstBlood,firstDragon,firstTower,firstBaron,winner
0,Vladimir,Bard,Kog'Maw,Master Yi,Viktor,Graves,Xayah,Darius,Zed,Thresh,2,1,1,1,1
1,Draven,Irelia,Nidalee,Kayle,Shaco,Malphite,Morgana,Hecarim,Yasuo,Riven,1,1,1,0,1
2,Tristana,Kayn,Nami,Rumble,Kassadin,Cassiopeia,Thresh,Jayce,Jax,Ashe,2,2,1,1,1
3,Maokai,Brand,Twitch,Orianna,Dr. Mundo,Malzahar,Warwick,Thresh,Riven,Ashe,1,1,1,1,1
4,Warwick,Twitch,Janna,Draven,Syndra,Sona,Jarvan IV,Kayn,Kassadin,Caitlyn,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,Warwick,Kalista,Talon,Bard,Lee Sin,Veigar,Yorick,Vayne,Janna,Gragas,1,2,2,0,2
51486,Malzahar,Amumu,Cho'Gath,Thresh,Tristana,Shyvana,Kalista,Leona,Nasus,Veigar,1,2,1,2,2
51487,Kayn,Tristana,Bard,Ezreal,Rumble,Annie,Draven,Rammus,Karma,Lux,2,1,2,0,2
51488,Kha'Zix,Lucian,Illaoi,Braum,Lux,Miss Fortune,Nocturne,Morgana,Karthus,Master Yi,2,2,2,0,2
51489,Leona,Annie,Camille,Sejuani,Jhin,Brand,Teemo,Twitch,Kha'Zix,Renekton,1,2,1,1,1

In [13]:
encodings1 = [pd.get_dummies(df[col], prefix = "t1") for col in ["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5"]]
combined_df1 = sum(encodings1)

encodings2 = [pd.get_dummies(df[col], prefix = "t2") for col in ["t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5"]]
combined_df2 = sum(encodings2)

In [14]:
combined_df1

,t1_Aatrox,t1_Ahri,t1_Akali,t1_Alistar,t1_Amumu,t1_Anivia,t1_Annie,t1_Ashe,t1_Aurelion Sol,t1_Azir,...,t1_Xayah,t1_Xerath,t1_Xin Zhao,t1_Yasuo,t1_Yorick,t1_Zac,t1_Zed,t1_Ziggs,t1_Zilean,t1_Zyra
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51486,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51489,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df = df.join(combined_df1).join(combined_df2)

In [16]:
df = df.drop(["t1_champ1","t1_champ2", "t1_champ3", "t1_champ4", "t1_champ5", "t2_champ1","t2_champ2", "t2_champ3", "t2_champ4", "t2_champ5"], axis = 1)

In [17]:
df

,firstBlood,firstDragon,firstTower,firstBaron,winner,t1_Aatrox,t1_Ahri,t1_Akali,t1_Alistar,t1_Amumu,...,t2_Xayah,t2_Xerath,t2_Xin Zhao,t2_Yasuo,t2_Yorick,t2_Zac,t2_Zed,t2_Ziggs,t2_Zilean,t2_Zyra
0,2,1,1,1,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,1,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2,2,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,1,2,2,0,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
51486,1,2,1,2,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
51487,2,1,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51488,2,2,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51489,1,2,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# impor tools
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [19]:
# split into features X and labels y
X = df.drop(["winner"], axis = 1) 
y = df["winner"]

# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 

# initiate and apply the model 
clf = RandomForestClassifier()
clf.fit(X_train, y_train) 

# evaluate the result
clf.score(X_test, y_test)

0.8077296562439309

In [20]:
importances = dict(zip(clf.feature_names_in_, clf.feature_importances_))
sorted_importances = sorted(importances.items(), key = lambda x: x[1], reverse=True)

In [21]:
sorted_importances

[('firstBaron', 0.15636186080190637),
 ('firstTower', 0.10146536141281856),
 ('firstDragon', 0.07862727596583764),
 ('firstBlood', 0.018909699338015663),
 ('t2_Tristana', 0.0049452099188864295),
 ('t1_Tristana', 0.004677032041641544),
 ('t2_Kayn', 0.0045404022467174735),
 ('t1_Vayne', 0.004520071390002964),
 ('t2_Thresh', 0.004442615302396652),
 ('t1_Thresh', 0.004290654588001488),
 ('t2_Vayne', 0.004286468391716577),
 ('t1_Kayn', 0.004281830494673043),
 ('t2_Yasuo', 0.004237820071479773),
 ('t1_Yasuo', 0.004119207239930147),
 ('t2_Jinx', 0.003935180062387946),
 ('t1_Jinx', 0.003934667832410146),
 ('t2_Lux', 0.003927439648250557),
 ('t2_Jhin', 0.0039039504005929093),
 ('t1_Janna', 0.0038351513702504685),
 ('t1_Lux', 0.003819965997436417),
 ('t2_Xayah', 0.003806785388130888),
 ('t2_Twitch', 0.003776649383091979),
 ('t1_Lee Sin', 0.003762047742958845),
 ('t2_Lucian', 0.0037354940509025957),
 ('t2_Lee Sin', 0.0037153623255353164),
 ('t1_Twitch', 0.0037103223232933945),
 ('t1_Zed', 0.0036952864548621418),
 ('t1_Lucian', 0.003662858955142334),
 ('t2_Orianna', 0.003661856614732048),
 ('t1_Jhin', 0.003614217801234842),
 ('t1_Blitzcrank', 0.0035921345351216925),
 ('t2_Jax', 0.003587103231036405),
 ('t2_Gragas', 0.0035864169990871466),
 ('t2_Zed', 0.003579119509762638),
 ('t1_Orianna', 0.0035524488926214027),
 ('t1_Lulu', 0.003534839690467905),
 ('t1_Xayah', 0.003532946338134978),
 ('t1_Jax', 0.003522080611410601),
 ('t2_Jarvan IV', 0.0035132239616324956),
 ('t2_Master Yi', 0.0034910355123282124),
 ('t1_Gragas', 0.0034833077718561993),
 ('t1_Ahri', 0.003473665585814531),
 ('t2_Janna', 0.003471911799926395),
 ('t2_Blitzcrank', 0.0034457544795785137),
 ('t2_Warwick', 0.003390256747398026),
 ('t2_Rakan', 0.003386186900174627),
 ('t2_Lulu', 0.0033806830614527476),
 ('t1_Warwick', 0.0033576627225075473),
 ('t2_Miss Fortune', 0.003354763368248898),
 ('t2_Riven', 0.003348891946807129),
 ('t2_Ahri', 0.003343233098484367),
 ('t1_Rakan', 0.0033379938636074625),
 ('t1_Master Yi', 0.0033022636408905365),
 ('t1_Caitlyn', 0.0032948698243975617),
 ('t1_Jarvan IV', 0.003276163745207017),
 ('t1_Miss Fortune', 0.003258437939941798),
 ('t1_Riven', 0.003229025007783856),
 ('t1_Morgana', 0.0031396792808335654),
 ('t1_Ashe', 0.0031347007373665405),
 ('t2_Caitlyn', 0.0031042788598774664),
 ('t1_Soraka', 0.003103796352192276),
 ('t2_Morgana', 0.0030899809791024007),
 ('t1_Leona', 0.0030596888449389934),
 ('t2_Soraka', 0.003033770506992483),
 ('t1_Ezreal', 0.003030521840025413),
 ('t1_Ekko', 0.0030223634855319646),
 ('t2_Ekko', 0.002993319609317844),
 ('t1_Nasus', 0.0029745841874652557),
 ('t2_Nami', 0.0029560011364496565),
 ('t2_Renekton', 0.002946556790699526),
 ('t2_Leona', 0.0029450761208005055),
 ('t1_Draven', 0.002938296035979831),
 ('t2_Draven', 0.0029235899225121586),
 ('t2_Ashe', 0.0028966715641918993),
 ('t1_Veigar', 0.002885621792480227),
 ('t2_Sona', 0.0028784260749296882),
 ('t1_Sona', 0.0028614404929398363),
 ('t2_Ezreal', 0.002858338142524617),
 ('t2_Gangplank', 0.00284031300163325),
 ('t2_Brand', 0.00282827755234812),
 ('t2_Nasus', 0.0027883573853444157),
 ('t1_Maokai', 0.002778155733441591),
 ('t1_Malzahar', 0.002770444182477399),
 ('t2_Darius', 0.0027628470708396303),
 ('t1_Ornn', 0.0027330417354231524),
 ("t1_Cho'Gath", 0.002723175024351622),
 ("t2_Cho'Gath", 0.0027164048440517785),
 ('t1_Brand', 0.0027152631729395944),
 ('t1_Nami', 0.002711166542912244),
 ('t2_Ornn', 0.002702746980174991),
 ('t1_Renekton', 0.002688228122986868),
 ("t1_Kha'Zix", 0.002686002335543143),
 ('t1_Gangplank', 0.0026686220272698954),
 ('t1_Gnar', 0.00264811228625217),
 ('t2_Tryndamere', 0.0026475658233858146),
 ('t1_Teemo', 0.0026431347707738416),
 ("t2_Kha'Zix", 0.0026398412736746797),
 ('t1_Garen', 0.0026263462465193326),
 ('t1_Sivir', 0.0026086700529854238),
 ('t2_Maokai', 0.002605336619896027),
 ('t2_Veigar', 0.0025905756494816173),
 ('t1_Fizz', 0.002589102351308788),
 ('t2_Gnar', 0.0025830771530749768),
 ('t2_Garen', 0.0025610552068895793),
 ('t1_Tryndamere', 0.0025533228773246246),
 ('t1_Darius', 0.002547478464880935),
 ('t2_Teemo', 0.002529953272119483),
 ('t2_Shen', 0.0025210640736161457),
 ('t2_Malzahar', 0.0025018698402927563),
 ('t2_Bard', 0.002498995105882419),
 ('t2_Sivir', 0.0024896829133782107),
 ('t1_Xin Zhao', 0.002481043504073578),
 ('t1_Alistar', 0.002467189313472664),
 ('t1_Sejuani', 0.002454216988120701),
 ('t2_Sejuani', 0.00245190688914972),
 ('t2_Syndra', 0.0024362971698829866),
 ('t2_Braum', 0.0024356673721300233),
 ('t2_Alistar', 0.0024054406931777687),
 ('t1_Jayce', 0.002395509492823359),
 ('t2_Kalista', 0.002389394833032994),
 ('t1_Syndra', 0.002380790495951344),
 ('t1_Twisted Fate', 0.0023763899126230097),
 ('t1_Akali', 0.0023762938303316843),
 ('t1_Fiora', 0.0023684507930955222),
 ('t2_Annie', 0.0023567676930301472),
 ("t1_Kog'Maw", 0.0023516561910606557),
 ("t1_Vel'Koz", 0.002345700904498647),
 ('t1_Katarina', 0.00234192449812061),
 ('t2_Diana', 0.00234105705757634),
 ('t2_Fizz', 0.002330591021356227),
 ('t1_Shen', 0.0023295378751731557),
 ('t2_Twisted Fate', 0.002329273367373565),
 ('t2_Jayce', 0.002319927685310792),
 ('t2_Talon', 0.002317817255741812),
 ('t2_Katarina', 0.002315427175081266),
 ('t1_Vladimir', 0.002304768025161028),
 ('t2_Vladimir', 0.0022941988840631754),
 ('t1_Vi', 0.002283431738019181),
 ('t1_Talon', 0.002277356486570682),
 ('t2_Akali', 0.002271997764013644),
 ("t2_Kog'Maw", 0.0022689265409249594),
 ('t1_Bard', 0.0022626628949017897),
 ('t1_Karma', 0.002258195672858189),
 ('t2_Kassadin', 0.002254725078548637),
 ('t2_Rammus', 0.0022478206759307777),
 ("t2_Vel'Koz", 0.002240049207508833),
 ('t1_Annie', 0.0022351523564219803),
 ('t1_Braum', 0.0022237726668348588),
 ('t1_Cassiopeia', 0.002217977350738394),
 ('t2_Fiora', 0.002209854920141076),
 ('t2_Vi', 0.0021942511935646803),
 ('t1_Diana', 0.00218954417328082),
 ('t1_Varus', 0.0021669639292687527),
 ('t1_Kassadin', 0.002159091789752958),
 ('t1_Rammus', 0.002149619313038145),
 ('t2_Amumu', 0.0021306656064459858),
 ('t1_Ziggs', 0.0021305350975433157),
 ('t2_Pantheon', 0.0021123454275021737),
 ('t1_Kalista', 0.0020960943046363454),
 ('t1_Shaco', 0.0020842593166047387),
 ('t2_Xin Zhao', 0.002080642063466716),
 ('t2_Taric', 0.0020559235612318473),
 ('t1_Irelia', 0.002037133311963089),
 ('t1_Corki', 0.002027992209013853),
 ('t1_Pantheon', 0.0020255298003122057),
 ('t2_Varus', 0.0020249103262905497),
 ('t2_Galio', 0.002015343002981422),
 ('t1_Zac', 0.0020052047046212),
 ('t2_Karma', 0.00200022347860919),
 ('t2_Corki', 0.001973706695605464),
 ('t2_Zyra', 0.001973706097578339),
 ('t1_Wukong', 0.00197220852743354),
 ('t2_Malphite', 0.0019683006832998),
 ('t1_Anivia', 0.0019644374321483747),
 ('t2_Elise', 0.0019516568700833894),
 ('t2_Cassiopeia', 0.0019502914685474286),
 ('t1_Zyra', 0.0019403946674868952),
 ('t1_Malphite', 0.001939137838807481),
 ('t2_Shyvana', 0.0019383155656880493),
 ('t2_Shaco', 0.0019358794591850367),
 ('t1_Sion', 0.0019348253798408908),
 ('t1_Taric', 0.0019306887141294243),
 ('t2_Wukong', 0.001927989887629775),
 ('t1_LeBlanc', 0.001922609430200854),
 ('t1_Shyvana', 0.001919763397312687),
 ('t1_Elise', 0.001913887492156029),
 ('t2_Irelia', 0.0019112141815432345),
 ('t1_Galio', 0.0019002369522009446),
 ('t1_Amumu', 0.0018965635092970323),
 ('t2_Zac', 0.0018716651172988152),
 ('t2_Anivia', 0.0018671862730580166),
 ('t2_Urgot', 0.0018618622249597522),
 ('t1_Urgot', 0.001838912787182294),
 ('t2_Rengar', 0.0018328614224611766),
 ('t2_Ziggs', 0.0018286108882402479),
 ('t2_Taliyah', 0.0017831364110491336),
 ('t1_Trundle', 0.001759117695665699),
 ('t1_Poppy', 0.0017493845069588027),
 ('t1_Nautilus', 0.0017118616289682565),
 ('t1_Rengar', 0.0016836696651940225),
 ('t2_LeBlanc', 0.0016800100781720138),
 ('t2_Hecarim', 0.0016754059183714607),
 ('t2_Trundle', 0.001665095549898288),
 ('t1_Hecarim', 0.0016633263470214096),
 ('t2_Kled', 0.0016572770315935403),
 ('t2_Kayle', 0.0016500182145242675),
 ('t2_Swain', 0.0016469200316202998),
 ('t1_Fiddlesticks', 0.0016458619662606594),
 ('t1_Taliyah', 0.0016396518812544282),
 ('t1_Dr. Mundo', 0.001637555013779412),
 ('t2_Sion', 0.0016273382524760252),
 ('t2_Xerath', 0.0016223896443140805),
 ('t1_Nidalee', 0.0016051023864789868),
 ('t2_Nautilus', 0.0016014017814051614),
 ('t2_Tahm Kench', 0.0016013386656002465),
 ('t1_Camille', 0.0015962187514860992),
 ('t1_Kled', 0.001574974812590981),
 ('t2_Poppy', 0.00154518233204161),
 ('t2_Fiddlesticks', 0.0015248494696018836),
 ('t2_Camille', 0.0015220830507807316),
 ('t2_Nocturne', 0.0015176001642135412),
 ('t1_Viktor', 0.0015156909719699994),
 ('t1_Kennen', 0.001513061572565278),
 ('t1_Kayle', 0.0015124582415639784),
 ('t2_Viktor', 0.0015018892941659927),
 ('t1_Heimerdinger', 0.0014931479379768301),
 ('t2_Evelynn', 0.0014900977680590995),
 ('t2_Dr. Mundo', 0.0014893231882061187),
 ('t1_Rumble', 0.0014721661901543734),
 ('t2_Kennen', 0.001467047626154236),
 ('t2_Heimerdinger', 0.0014543559364384696),
 ('t1_Swain', 0.001453254265624304),
 ('t2_Zilean', 0.0014448260781939311),
 ('t2_Illaoi', 0.0014447900988843096),
 ('t1_Xerath', 0.0014376446843346908),
 ('t2_Nidalee', 0.001431766943307114),
 ('t2_Graves', 0.001403925167646445),
 ('t1_Yorick', 0.001401276786076308),
 ('t2_Olaf', 0.0013973367552594822),
 ('t1_Nocturne', 0.0013871529103848363),
 ("t1_Rek'Sai", 0.0013763765275619532),
 ('t1_Tahm Kench', 0.001373491227223884),
 ('t1_Illaoi', 0.001364953420743263),
 ('t1_Olaf', 0.0013451877237495343),
 ('t1_Quinn', 0.0013409309369687705),
 ('t1_Graves', 0.0013336974350722122),
 ('t2_Rumble', 0.0013311992165504494),
 ('t1_Singed', 0.0013170836594098045),
 ('t1_Kindred', 0.0013153840439085202),
 ('t2_Nunu', 0.0012980147480087004),
 ('t2_Quinn', 0.0012920461434633317),
 ('t1_Nunu', 0.0012918945317074312),
 ('t1_Zilean', 0.0012812890528240725),
 ('t2_Mordekaiser', 0.0012784225274473334),
 ('t1_Evelynn', 0.0012681200675077491),
 ('t2_Azir', 0.00125106715960526),
 ('t2_Yorick', 0.0012501323763060262),
 ('t1_Ivern', 0.001234522782518859),
 ('t2_Lissandra', 0.0012135687945771221),
 ('t2_Singed', 0.0012105045343337095),
 ('t1_Mordekaiser', 0.0011994783358384275),
 ('t2_Ryze', 0.0011683707595053913),
 ('t2_Udyr', 0.001167914617316388),
 ("t2_Rek'Sai", 0.001158648667220047),
 ('t1_Azir', 0.0011468958853981502),
 ('t1_Udyr', 0.0011445168593209468),
 ('t1_Volibear', 0.0011373299227642173),
 ('t2_Volibear', 0.0011224927192724755),
 ('t1_Ryze', 0.001116233134714085),
 ('t1_Lissandra', 0.0010694150969612088),
 ('t2_Kindred', 0.0010504997077402237),
 ('t2_Ivern', 0.001032240979223972),
 ('t2_Karthus', 0.0010088836921066681),
 ('t1_Karthus', 0.0009208200565020321),
 ('t2_Aurelion Sol', 0.0009039506614690957),
 ('t1_Aurelion Sol', 0.000859059663946188),
 ('t1_Aatrox', 0.0007985472068179622),
 ('t2_Aatrox', 0.0007979591300423692),
 ('t2_Skarner', 0.0006720679412800007),
 ('t1_Skarner', 0.0006523577449120756)]

In [24]:
# calculate the champion's winrate
champ_name = "Skarner"

wins1 = len(df[(df[f't1_{champ_name}'] == 1) & (df['winner']  == 1)])
wins2 = len(df[(df[f't2_{champ_name}'] == 1) & (df['winner']  == 2)])
losses1 = len(df[(df[f't1_{champ_name}'] == 1) & (df['winner']  == 2)])
losses2 = len(df[(df[f't2_{champ_name}'] == 1) & (df['winner']  == 1)])

print((wins1 + wins2) / (wins1 + wins2 + losses1 + losses2))

0.4878048780487805